.navbar-toggler{
    font-weight: $weight-black;
    font-size: $xx-large;
    margin-right: 5vw;
}

.footer__btn{
    border: solid $secondary 1px;
    transition: 200ms ease-in;
    font-weight: $weight-bold;
    &:hover{
        background-color: $light-green;
        border: solid $dark-blue 1px;
    }
    &:focus{
        background-color: $light-green;
        opacity: 0.9;
        border: solid $dark-blue 1px;
    }
}